.GameCard {
    display: flex;
    flex-direction: column;
    padding: 1.25em;
    width: 300px;
    height: 350px;
    border: 1px solid #f8f8f8;
    border-radius: 1rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    font-size: 1.2rem;
    color:white;
    background-color: rgb(26, 26, 26);
}

.GameCard .remove_btn {
    width: fit-content;
    position: relative;
    cursor: pointer;
    background: none;
    border:none;
    z-index: 1;
    left: 235px; 
    top: 0;
    margin-bottom: 0.5rem;
}

.GameCard .remove_icon {
    font-size: 1.2rem;
    color: rgb(245, 50, 24);
}

.GameCard img {
    display: flex;
    width: auto;
    height: 150px;
    border-radius: 1rem;
}

.GameCard blockquote {
    margin: 1rem 0;
    font-weight: bold;
}

.GameCard .star_icon {
    font-size: 1.2rem;
    color: rgb(245,197,24);
    margin-right: 2px;
}

.GameCard .more_btn {
    padding: 0.5rem;
    margin: 1rem auto;
    cursor: pointer;
    border-radius: 1rem;
    background-color: #2c2c2c;
    color:white
}

.GameCard .more_btn:hover {
    transform: scale(1.1, 1);
}

.GameCard a {
    align-self: center;
}
